.all_container {
  display: grid;
  background-image: url('./Image/190-1903453_background-clipart-file-tag-list-clip-arts-svg.png');
  background-size: contain;
  background-repeat: space;
  height: 50rem;
  /* padding: 5rem; */
  background-position-x: right;
}
#App {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* text-align: center; */
}
form {
  margin-top: 3rem;
  padding: 6rem;
}
input {
  padding: 6px;
  border-radius: 15px;
  border: 2px solid rgb(193, 236, 253);
  outline: 0;
}
input:hover {
  border: 2px solid brown;
}
ol {
  display: grid;
  padding: 2rem 4rem;
  justify-self: end;
  overflow: scroll;
  height: 33rem;
}

li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  align-items: baseline;
}
button {
  background-color: brown;

  color: white;
  font-weight: bold;
  padding: 9px;
  border-radius: 15px;
}
button:hover {
  background-color: rgb(230, 23, 23);
}
label {
  font-weight: bold;
  color: rgb(0, 140, 255);
}
.done {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}
.olist {
  z-index: 1;
}
.removeBtn {
  margin-left: 3rem;
}
.addTodoBtn {
  margin-left: 1rem;

  color: white;
  background-color: rgb(33, 143, 79);
}
.todoBtn:hover {
  background-color: rgb(16, 87, 45);
}
.boxCheck {
  background-color: rgb(241, 241, 241);
}
.inner_container {
  display: grid;
  padding: 1rem;
  top: 18%;
  height: 85%;
  left: 63%;
  right: 0;
  bottom: 10%;
  z-index: 1;
}
.container_scroll {
  /* border: 1px solid lightblue; */
  overflow: scroll;
}
